/* Font and Font-size for entire website https://www.w3schools.com/css/css_font.asp*/
html {
    font-size: 18px;
    font-family: sans-serif;
}
body {
    background-color: #6B6B6B;
}
/* Double Solid Lines Under Main Heading "Jean Vega" https://www.w3schools.com/css/css_border.asp*/
h1 {
    border-bottom: 6px double red;
    letter-spacing: 2px;
}
/* solid red line Under "About Me" heading https://www.w3schools.com/css/css_border.asp*/
h2 {
    border-bottom: 6px solid red;
}
/* solid red line on the left and dashed red line on bottom for remaining headings https://www.w3schools.com/css/css_border.asp*/
h3 {
    border-left: 12px solid red;
    border-bottom: 3px dashed red;
}
/* Code only applies to ordered list and creates a box for them with double white lines and red background with white text https://www.w3schools.com/css/css_border.asp */
ul li {
    display: inline-block;
    padding: 10px;
    border: double white;
    background-color: red;
    color: white;
}
/* Image properties https://www.w3schools.com/css/css_float.asp */
.image {
    float: right;
